<div>
    <h2 id="page-heading">
        <span>People</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-person" [routerLink]="['/person/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Person
            </span>
        </button>
        <button id="search-person" class="btn btn-primary float-right" [routerLink]="['/person/search']">
            <fa-icon icon="search"></fa-icon>
            <span>
            Search
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="people?.length === 0">
        <span>No people found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="people?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fullName"><span>Full Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fatherName"><span>Father Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="husbandName"><span>Husband Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span>Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="mobile"><span>Mobile</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="otherContactDetails"><span>Other Contact Details</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cnic"><span>Cnic</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="homeAddress"><span>Home Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="area"><span>Area</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="city"><span>City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postcode"><span>Postcode</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="country"><span>Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let person of people ;trackBy: trackId">
                    <td><a [routerLink]="['/person', person.id, 'view']">{{ person.id }}</a></td>
                    <td>{{ person.fullName }}</td>
                    <td>{{ person.fatherName }}</td>
                    <td>{{ person.husbandName }}</td>
                    <td>{{ person.email }}</td>
                    <td>{{ person.mobile }}</td>
                    <td>{{ person.otherContactDetails }}</td>
                    <td>{{ person.cnic }}</td>
                    <td>{{ person.homeAddress }}</td>
                    <td>{{ person.area }}</td>
                    <td>{{ person.city }}</td>
                    <td>{{ person.postcode }}</td>
                    <td>{{ person.country }}</td>
                    <td>{{ person.status }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/person', person.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/person', person.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(person)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
