<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="person">
            <h2><span>Person</span> {{ person.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Full Name</span></dt>
                <dd>
                    <span>{{ person.fullName }}</span>
                </dd>
                <dt><span>Father Name</span></dt>
                <dd>
                    <span>{{ person.fatherName }}</span>
                </dd>
                <dt><span>Husband Name</span></dt>
                <dd>
                    <span>{{ person.husbandName }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ person.email }}</span>
                </dd>
                <dt><span>Mobile</span></dt>
                <dd>
                    <span>{{ person.mobile }}</span>
                </dd>
                <dt><span>Other Contact Details</span></dt>
                <dd>
                    <span>{{ person.otherContactDetails }}</span>
                </dd>
                <dt><span>Cnic</span></dt>
                <dd>
                    <span>{{ person.cnic }}</span>
                </dd>
                <dt><span>Home Address</span></dt>
                <dd>
                    <span>{{ person.homeAddress }}</span>
                </dd>
                <dt><span>Area</span></dt>
                <dd>
                    <span>{{ person.area }}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{ person.city }}</span>
                </dd>
                <dt><span>Postcode</span></dt>
                <dd>
                    <span>{{ person.postcode }}</span>
                </dd>
                <dt><span>Country</span></dt>
                <dd>
                    <span>{{ person.country }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ person.status }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/person', person.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
